<!DOCTYPE html>
<html>
    <head>
        <title>EF Subsystem</title>
    </head>
    <body>
    	<nav>
    		<a href="/">Home</a> | 
    		<a href="/deploymentplan">Deployment Plan</a> | 
    		<a href="/crisis">Crisis</a> | 
    		<a href="/deploymentunit">Deployment Unit</a> |
    		<a href="/unit">EF Unit</a>     		
    	</nav>

    	<% if (message.length > 0) { %>
    		<div class="alert"><%= message %></div>
    	<% } %>