body {
    font-family: 'Roboto', sans-serif;     
    color: #8E93A3;
    overflow: hidden;   
    background-color: #D5DAE7;
}

nav {
    background-color: #364760;
}

.name {
    font-size: 20px;
    font-weight: 700;
}

.users {    
    height: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);    
}

.users-header {
    padding: 15px;
    background: #ECF0F1;
    border-bottom: 3px solid #E5E9EF;
}

.userlist {
    overflow-y: auto;
    padding: 5px;
    margin-left: 15px;
}

.userlist::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.userlist::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

.card {
    background-color: #EEF1F6;
    margin-top: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-header {
    background-color: #EEF1F6;
    padding: 15px;
    padding-bottom: 0;
    border-bottom: 3px solid #E5E9EF;
}

.unit-row {
    margin-left: -5px;
    margin-right: -5px;
}

.unit-card {
    margin-top: 15px;
}

.default {
    padding-left: 5px;
    padding-right: 5px;
}

.card-body {
    background-color: #FEFEFE;
    padding: 15px;
}

.unit-label {
    margin: 0;
    font-size: 15px;    
}

.status {   
    background-color: #EEF1F6;
    width: 100%;
    padding: 20px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}

.crisis-box {
    width: 20px;
    height: 20px;
    margin: 5px;    
    display: inline-block;
}

.green {
    background-color: #4BBBA5;
}

.yellow {
    background-color: #F1B91A;
}

.red {
    background-color: #FF4136;
}

.orange {
    background-color: #F9690E;
}

.air-color {
    background-color: #BDC3C7;
    border-color: #BDC3C7;
}

.sea-color {
    background-color: #446CB3;
    border-color: #446CB3;
}

.land-color {
    background-color: #1BBC9B;
    border-color: #1BBC9B;
}

.quarantine-color {
    background-color: #F7CA18;
    border-color: #F7CA18;
}

.cleanup-color {
    background-color: #6C7A89;
    border-color: #6C7A89;
}

#newDeploymentUnitForm {
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    background-color: white;
    padding: 30px;
}

.hide {
	display: none;
}

.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10000;
}

.spinner {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
    0%, 100% { 
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% { 
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

.alert-message {
    position: fixed;
    z-index: 100;
    right: 0;
    bottom: 0;
}

.notice {
    padding: 15px;
    width: 20em;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    color: #111111;
    
    -webkit-box-shadow: 0 10px 10px -5px rgba(0,0,0,.2);
       -moz-box-shadow: 0 10px 10px -5px rgba(0,0,0,.2);
            box-shadow: 0 10px 10px -5px rgba(0,0,0,.2);
}
.notice-success {
    border-color: #80D651;
}
.notice-success>strong {
    color: #80D651;
}
.notice-info {
    border-color: #45ABCD;
}
.notice-info>strong {
    color: #45ABCD;
}
.notice-warning {
    border-color: #FEAF20;
}
.notice-warning>strong {
    color: #FEAF20;
}
.notice-danger {
    border-color: #d73814;
}
.notice-danger>strong {
    color: #d73814;
}

#map {
    height: 100%;
    width: 100%;
}

.mapholder {
    width: 100%;
    height: 500px;
}